@model IEnumerable<ActivityTrack.Models.ProjectEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>




<table>
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody data-bind="foreach: projects">
        <tr>
            <td data-bind="text: name"></td>
        </tr>
    </tbody>
</table>

<p>Project name: <input data-bind="textInput:projectName, enterkey: validate" /></p>

<button data-bind="click: add, enterkey: validate">Add</button>


    <script type="text/javascript">


        var project = function (data) {
            var self = this;
            self.name = ko.observable(data.name);
        }

        var projectsVM = function () {
            var self = this;

            self.projects = ko.observableArray([{ id: 1, name: "test" }]);
            self.projectName = ko.observable();
            self.getData = function () {
                $.getJSON("/api/projects", function (data) {

                    self.projects(data.result);
                });
            }
            self.add = function () {
                var data = { id: 0, name: self.projectName() };
                $.post("/api/projects", data, function (returnedData) {

                }).done(function (resultData) {
                    projectsVM.projects.push(resultData);
                }).error(function (error) {
                    alert(error);
                });


            }
            self.getData();

            ko.bindingHandlers.enterkey = {
                init: function (element, valueAccessor, allBindingsAccessor, data) {

                    ko.utils.registerEventHandler(element, "keyup", function (e) {
                        if (e.keyCode === 13) {
                            valueAccessor().call(data);
                        }

                    });
                }
            };
        }

        ko.applyBindings(projectsVM());
    </script>
