@model IEnumerable<ActivityTrack.Models.ActivityEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container" ng-controller="displayActivitiesController">
    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter by project..." ng-model="search.project.name">
            </div>
        </div>
    </form>
    <table st-table="Activities" class="table table-bordered" >
        <tr>
            <th class="col-md-2">
                <a href="" ng-click="order('project.name')"> Project</a>
                <span class="sortorder" ng-show="predicate === 'Project'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('startDate')"> StartDate</a>
                <span class="sortorder" ng-show="predicate === 'Start Date'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('endDate')"> EndDate</a>
                <span class="sortorder" ng-show="predicate === 'End Date'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-4">
                <a href="" ng-click="order('description')"> Description</a>
                <span class="sortorder" ng-show="predicate === 'Description'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('State')"> State</a>
                <span class="sortorder" ng-show="predicate === 'State'" ng-class="{reverse:reverse}"></span>
            </th>
        </tr>
        
        <tbody>
            <tr ng-repeat="activity in Activities | filter:search | orderBy:predicate:reverse ">

                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{activity.project.name}}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.project.name" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{ activity.startDate | date: 'yyyy-MM-dd HH:mm' }}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.startDate" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{ activity.endDate | date: 'yyyy-MM-dd HH:mm' }}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.endDate" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{ activity.description }}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.description" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <button ng-click="">Pause</button>
                    <button ng-click="">End</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

