@model IEnumerable<ActivityTrack.Models.ActivityEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container" ng-controller="displayActivitiesController">

    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add a new activity</button>

    <div id="myModal" class="modal fade" role="dialog" ng-controller="createActivityController">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add activity</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="endDate">Due Date</label>
                        <div>
                            <input type="text" id="datepicker" ng-model="activity.endDate" style="width: 160px" />
                            @*<pre>Date is: <em>{{activity.endDate}}</em></pre>*@
                        </div>
                    </div>

                    <div class="progress-box">
                        <label for=estimatedTime>Estimated time</label>
                        <input class="showHideEstimate" type="checkbox" name="estimate" value="1"  />
                        <fieldset class="estimate" >
                            <div class="percentage-cur" ng-init="activity.estimatedTime=60">
                                <div class="col-md-6">
                                    <span class="num">{{ activity.estimatedTime }}</span>
                                </div>
                                <div class="col-md-6">
                                    <select ng-model="unit"
                                            ng-options="unit for unit in timeUnits"
                                            style="width: 80px; height: 25px; margin-left:auto "></select>
                                </div>

                                <div class="progress-bar progress-bar-slider">
                                    <input class="progress-slider" type="range" min="0" max="100" ng-model="activity.estimatedTime" id=estimatedtime step="10">
                                    <div class="inner" ng-style="{ width: activity.estimatedTime + '%' || '0%' }"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <div>
                            <input type="text" ng-model="activity.description" style="width: 160px;" />
                        </div>
                    </div>
                    <div class="form-horizontal" ng-controller="displayProjectsController">
                        <div class="form-horizontal" ng-controller="createProjectController">

                            <label for="project">Project</label>
                            <div>
                                <select ng-model="activity.project"
                                        ng-options="project.name for project in Projects track by project.id"
                                        ng-change="updateProject()"
                                        style="width: 160px; height: 25px; ">
                                    <option value="" ng-if="false"></option>
                                </select>
                            </div>
                            <div>
                                <input class="btn btn-default" type="button" id="btnShowNewProject" value="{{newProjectButtonText}}" ng-click="showHide()" />
                            </div>

                            <div ng-show="showNewProject">
                                <label for="project">New Project</label>
                                <div>
                                    <input type="text" ng-model="newProject.name" style="width: 160px;" />
                                </div>
                                <div>
                                    <input class="btn btn-default" type="button" id="btnSaveNewProject" value="Create Project" ng-click="addProject()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" ng-click="addActivity()" data-dismiss="modal">Create Activity</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <label>Filter projects</label>
                <input type="text" class="form-control" placeholder="Filter by project..." ng-model="search.project.name">
            </div>
        </div>
    </form>

    <form>
        <label class="col-md-2">
            <input type="radio" ng-model="selectedState.activityState" name="radioBtn">
            All Activities
        </label>
        <label class="col-md-3">
            <input type="radio" ng-model="selectedState.activityState" name="radioBtn" value="0">
            Pending Activities
        </label>
        <label class="col-md-2">
            <input type="radio" ng-model="selectedState.activityState" name="radioBtn" value="1">
            Started Activities
        </label>
        <label class="col-md-3">
            <input type="radio" ng-model="selectedState.activityState" name="radioBtn" value="2">
            Paused Projects
        </label>
        <label class="col-md-2">
            <input type="radio" ng-model="selectedState.activityState" name="radioBtn" value="3">
            Ended Activities
        </label>
    </form>

    <table st-table="Activities" class="table table-bordered">
        <tr>
            <th class="col-md-2">
                <a href="" ng-click="order('project.name')"> Project</a>
                <span class="sortorder" ng-show="predicate === 'Project'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('endDate')"> Due Date</a>
                <span class="sortorder" ng-show="predicate === 'Due Date'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-4">
                <a href="" ng-click="order('description')"> Description</a>
                <span class="sortorder" ng-show="predicate === 'Description'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('State')"> State</a>
                <span class="sortorder" ng-show="predicate === 'State'" ng-class="{reverse:reverse}"></span>
            </th>
            <th class="col-md-2">
                <a href="" ng-click="order('Elapsed Time')"> Elapsed Time</a>
                <span class="sortorder" ng-show="predicate === 'Elapsed Time'" ng-class="{reverse:reverse}"></span>
            </th>
        </tr>

        <tbody>
            <tr ng-repeat="activity in Activities | filter:selectedState | filter:search | orderBy:predicate:reverse ">
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{activity.project.name}}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.project.name" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{ activity.endDate | date: 'yyyy-MM-dd HH:mm' }}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.endDate" ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <span ng-hide="activity.editing" ng-dblclick="editItem(activity)">{{ activity.description }}</span>
                    <input style="width: 160px;" ng-show="activity.editing" ng-model="activity.description" required ng-blur="doneEditing(activity)" autofocus />
                </td>
                <td>
                    <button ng-click="startActivity(activity)" ng-show="activity.activityState==0 || activity.activityState==3">
                        {{StartButton}}
                    </button>
                    <button ng-click="pauseActivity(activity)" ng-show="activity.activityState==1">
                        {{PauseButton}}
                    </button>
                    <button ng-click="endActivity(activity)" ng-show="activity.activityState==1">
                        {{EndButton}}
                    </button>
                    <button ng-click="resumeActivity(activity)" ng-show="activity.activityState==2">
                        {{ResumeButton}}
                    </button>
                </td>
                <td>
                    <span>{{ activity.elapsedTime%60 | number:0 }} minute(s) @*{{ activity.elapsedTime | number:2}}*@</span>

                </td>
            </tr>
        </tbody>
    </table>
</div>
