@model IEnumerable<ActivityTrack.Models.ActivityEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<body ng-controller="displayActivities">
    <table st-table="Activities" class="table table-striped">
        <tr>
            <th> Type  </th>
            <th> Name  </th>
            <th> Start Date  </th>
            <th> EndDate  </th>
            <th> Description </th>
            <th></th>
        </tr>

        <tr ng-repeat="row in Activities">
            <td>{{row.ActivityType.Type}}</td>
            <td>{{row.Project.Name}}</td>
            <td>{{row.StartDate}}</td>
            <td>{{row.EndDate}}</td>
            <td>{{row.Description}}</td>
        </tr>

    </table>
</body>