@model IEnumerable<ActivityTrack.Models.ActivityEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container" ng-controller="displayActivitiesController">
    <form>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter by project..." ng-model="search.Type">
            </div>
        </div>
    </form>
    <table st-table="Activities" class="table table-striped">
        <tr>
            <th> Type  </th>
            <th> Name  </th>
            <th> Start Date  </th>
            <th> EndDate  </th>
            <th> Description </th>
            <th></th>
        </tr>
        <tbody>
            <tr ng-repeat="activity in Activities | filter:search">
                @*<td>{{row.ActivityType.Type}}</td>
            <td>{{row.Project.Name}}</td>*@
                <td>{{ activity.Type }}</td>
                <td>{{ activity.Name }}</td>
                <td>{{ activity.StartDate }}</td>
                <td>{{ activity.EndDate }}</td>
                <td>{{ activity.Description }}</td>
            </tr>
        </tbody>
    </table>
</div>

